.container {
  max-width: 100rem;
  margin: 0 auto;
}

label {
  background: red;
  display: block;
}

.formulario {

}
input {
  display: block;
  width: 100%;
}


.form-control {
  width: 1rem;
}


