.multi-select-button {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.options-container {
  display: none;
  width: 200px;

}

.options-container.open {
  display: block;
  margin-top: 1rem;
}

.multi-select-label.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.pos-relative {
  position: relative;

}

.pos-absolute {
  position: absolute;
}

label {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  /* border-top: none; */
  border-radius: 0 0 4px 4px;
  cursor: pointer;
  background: #000 ;
}
label:hover{
  background: blue; 
}